[Unit]
Description=Run skillbox app
Requires=docker.service
After=docker.service


[Service]
Restart=always
WorkingDirectory=/home/ubuntu/diploma

# Remove old containers
ExecStartPre=/usr/local/bin/docker-compose -f /home/ubuntu/diploma/docker-compose.yaml down -v

# Compose up
ExecStart=/usr/local/bin/docker-compose -f /home/ubuntu/diploma/docker-compose.yaml up

# Compose down, remove containers
ExecStop=/usr/local/bin/docker-compose -f /home/ubuntu/diploma/docker-compose.yaml down

[Install]
WantedBy=multi-user.target
